* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    --gris: #7E7D7D;
    --gris-texto: #4E4D53;
    --azul-electrico: #1900FF;
    --facebook: #3b5998;
    --twitter: #1da1f2;
    --instagram: #c13584;
}

body {
    font-family: "Open Sans", Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

html {
    font-size: 62.5%;
}

/* - - - - T I T U L O - - - - */

.main .nosotros {
    background: url("../img/Fondos/computer2-azul.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    height: 80rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .nosotros .titulo {
    color: #fff;
}

/* - - - - Q U I E N E S  S O M O S - - - - */

.main .quienes-somos{
    background: #d3d2d2;
    height: 35rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* - - - - M I S I O N - - - - */

.main .mision {
    background: url("../img/Fondos/computer-azul.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    height: 35rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* - - - - V I S I O N - - - - */

.main .vision {
    background: #160c35;
    height: 35rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* - - - - G E N E R A L - - - -*/

.main .subtitulo {
    overflow: hidden;
    color: var(--gris-texto);
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
}

.main .texto {
    font-size: 2rem;
    font-weight: 300;
    text-align: right;
}

.mision .texto,
.vision .texto{
    color: #fff;
    margin-right: 6rem;
}

.mision .subtitulo,
.vision .subtitulo{
    color: #fff;
}


