@media screen and (max-width : 768px) {
    .main .proyecto-titulo{
        height: 50rem;
    }

    .main .proyectos .slogan{
        font-size: 1.8rem;
        padding: 0;
        text-align: center;
    }

    .main .proyecto-slogan .slogan{
        font-size: 1.8rem;
    }

    .main .proyectos .titulo-proyecto-h3{
        font-size: 1.8rem;
    }
    .main .proyectos .proyecto-imagen{
        width: 20rem;
    }

    .main .galeria img {
        width: 7rem;
    }

    .main .proyecto-3 .proyecto img{
        width: 30rem;
    }

    .main .proyectos .proyecto-imagen{
        width: 25rem;
    }

    .main .proyecto-texto p{
        font-size: 1.2rem;
    }

    .main .proyectos .proyecto .proyecto-texto{
        margin: 1rem 2rem;
    }
}

@media screen and (max-width : 480px) {
    .main .proyecto-texto .titulo-evento{
        font-size: 1.5rem;
    }

    .main .proyecto-slogan .slogan{
        font-size: 1.5rem;
    }

    .main .proyectos .titulo-proyecto-h3{
        font-size: 1.5rem;
    }

    .main .galeria .galeria-subtitulo{
        font-size: 1.8rem;
    }
    .main .proyecto-titulo{
        height: 30rem;
    }

    .main .proyectos .slogan{
        font-size: 1.5rem;
        margin: 2.5rem;
    }

    .main .proyectos .proyecto-imagen{
        width: 18rem;
    }

    .main .proyecto-texto p{
        font-size: 1rem;
    }
    
    .main .proyectos .proyecto .proyecto-texto{
        margin: 0;
    }
}

@media screen and (max-width : 320px) {
    
    .main .proyecto-texto .titulo-evento{
        font-size: 1rem;
    }

    .main .proyecto-slogan .slogan{
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.2rem;
        text-align: center;
        margin: 2rem 0;
    }

    .main .proyectos .proyecto{
        margin: 2rem 0;
    }

    .main .galeria .galeria-subtitulo{
        font-size: 1.3rem;
    }

    .main .galeria .gallery-card{
        padding: .3rem;
    }

    .main .galeria .galeria-imagenes-segunda-fila{
        margin-top: 1.5rem;
    }

    .main .galeria .galeria-imagenes{
        margin-bottom: 2rem;
    }
    .main .proyectos .titulo-proyecto-h3{
        font-size: 1rem;
    }

    .main .galeria img{
        width: 5rem;
    }
    .main .proyecto-titulo{
        height: 20rem;
    }

    .main .proyectos .proyecto-imagen{
        width: 10rem;
    }

    .main .proyecto-3 .proyecto img{
        width: 10rem;
    }
    .main .proyecto-texto p{
        font-size: 0.8rem;
    }

    .main .proyectos .proyecto i{
        font-size: 1rem;
    }
}
