* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    --gris: #7E7D7D;
    --gris-texto: #4E4D53;
    --azul-electrico: #1900FF;
    --facebook: #3b5998;
    --twitter: #1da1f2;
    --instagram: #c13584;
}

body {
    font-family: "Open Sans", Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

html {
    font-size: 62.5%;
}

/* A R E A S  D E  N E G O C I O */

.main .areas-titulo{
    background: url("../img/Fondos/areas-de-negocio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    height: 60rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .areas-botones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .titulo-areas{
    color: #fff;
}

.main .menu-areas{
    margin: 5rem 0;
    padding: 5rem 0;
    background-color: #0f065d;
}

.main .menu-areas .botones-menu{
    overflow: hidden;
}

.main .menu-areas i{
    color: rgb(200, 200, 200);
    font-size: 6rem;
    overflow: hidden;
}

.main .menu-areas i:hover{
    color: #fff;
}


/* - - - - S E C C I O N E S - - - - */


.main .computacion .texto .descripcion p,
.main .redes .texto .descripcion p,
.main .seguridad .texto .descripcion p,
.main .energia .texto .descripcion p,
.main .desarrollo-web .texto .descripcion p{
   font-size: 1.8rem;
   text-align: center;
}

.main .caracteristicas .subtitulo-caracteristica p{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 3rem;
    text-align: center;
}

.main .caracteristicas .subtitulo-caracteristica .segunda p{
    margin-top: 3rem;
}

.main .caracteristicas .energia-caracteristica p{
    font-size: 2.2rem;
    font-weight: 500;
    margin: 3rem 0;
    text-align: center;
}

.main .redes,
.main .seguridad,
.main .energia,
.main .desarrollo-web{
    display: none;
}

.main .menu-areas .botones-menu .btn-computacion{
    border-bottom: 2px solid #c8c8c8;
}

/* - - - - C A T E G O R I A S - - - - */

.categorias {
    background: #180a96;
    margin: 3rem 0;
}

.categorias-padre{
    display: flex;
    align-items: center;
    justify-content: center;
}

.categorias i{
    color: #fff;
    font-size: 5rem;
    margin: 2rem 2rem 0 2rem;
    padding: 2rem;
    overflow: hidden;
}

.categorias i:hover{
    color: rgb(200, 200, 200);
    text-decoration: none;
}

.categorias a {
    text-decoration: none;
}

.categorias .categoria-individual p{
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

.categorias .categoria-individual p:hover{
    text-decoration: underline;
}


.main .texto {
    margin-bottom: 5rem;
}
/* - - - - M A R C A S - - - - */

.main .marcas{
    margin-bottom: 4rem;
}
.main .marcas .marca {  
    width: 18rem;
}

.main .marca-grande{
    width: 15rem;
}

.main .marcas .marca-extra-grande {
    width: 12rem;
}

.main .marcas .alinear-marcas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .marcas .alinear-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .marcas .subtitulo{
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    overflow: hidden;
    margin: 3rem 0;
}

.main .computadoras,
.main .impresoras,
.main .componentes,
.main .telefonos,
.main .pantallas,
.main .tablets,
.main .juegos,
.main .consumibles,
.main .software,
.main .proyectores{
    display: none;
}

.main .lan-wan,
.main .fibra-optica,
.main .cableado,
.main .radios{
    display: none;
}

.main .ctrlAcceso,
.main .ctrlFlota,
.main .seguridadLogica,
.main .seguridadFisica{
    display: none;
}

.main .plantas,
.main .ups{
    display: none;
}