* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    --gris: #7E7D7D;
    --gris-texto: #4E4D53;
    --azul-electrico: #1900FF;
    --facebook: #3b5998;
    --twitter: #1da1f2;
    --instagram: #c13584;
}

body {
    font-family: "Open Sans", Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

html {
    font-size: 62.5%;
}


/* - - - M E N U - L O G O - - - - */

header .menu-logo img{
    width: 20rem;
}

header .menu-logo {
    margin: 2rem;
}

header .redes-sociales-header{
    text-align: right;    
    margin-top: 1rem;
    overflow: hidden;
}

header .redes-sociales-header a {
    font-size: 3rem;
    color: var(--gris) ;
    padding: 1.5rem;
}

header .redes-sociales-header .facebook:hover{
    color: var(--facebook);
}

header .redes-sociales-header .twitter:hover{
    color: var(--twitter);
}

header .redes-sociales-header .instagram:hover{
    color: var(--instagram)
}

/* - - - M E N U    P R I N C I P A L - - - */

header .fijo{
    position: fixed;
    top: 0;
    width: 102%;
    box-shadow: 0 .3rem .4rem rgba(0,0,0, .5);
    position:fixed;
    left:0;
    right:0;
    z-index:99;
    background:white;

}

header .menu {
    background: #1900FF;
    text-align: center;
}

header .menu a {
    color: #fff;
    text-decoration: none;
    margin: 0.5rem;
    font-weight: 600;
}

header .menu a:hover {
    text-decoration: underline;
}

header .menu .actual {
    text-decoration: underline;
}

/* - - - - C A R R U S E L - - - - */

.carrusel .imagen-carrusel {
    width: 100%;
    height: 90rem;
}


.carrusel .texto-carrusel-1{
    font-size: 8rem;
    font-weight: 300;
    margin-bottom: 55rem;
    overflow: hidden;
    background: #120588;
}

.carrusel .texto-carrusel-2{
    font-size: 5rem;
    font-weight: 300;
    background: #1660ff;
    overflow: hidden;
    margin-bottom: 10rem;
}

.carrusel .texto-carrusel-3{
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 40rem;
    overflow: hidden;
    background-color: #120588;    
}

.carrusel .texto-carrusel-4{
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 35rem;
    overflow: hidden;
    text-align: center;
    width: 55rem;
    margin-left: 75rem;
    background: #1660ff;
    padding: 2rem;
}

/* - - - - A R E A S  D E  N E G O C I O - - - - */

.main .titulo {
    font-weight: 300;
    font-size: 5rem;
    margin: 7rem 0rem;
    padding: 2rem 0rem;
    text-align: center;
    overflow: hidden;
    color: var(--gris-texto);
}

.main .areas-de-negocio .primera-fila,
.main .areas-de-negocio .segunda-fila{
    text-align: center;
    width: 20rem;
    height: 20rem;
}

.main .areas-de-negocio .primera-fila .img-iconos,
.main .areas-de-negocio .segunda-fila .img-iconos {
    width: 12rem;
}

.main .areas-de-negocio a{
    text-decoration: none;
    color: var(--gris-texto);
}

.main .areas-de-negocio p{
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 300;
}

.main .areas-de-negocio p:hover{
    text-decoration: underline solid var(--gris-texto);
}

/* - - - - N U M E R O S - - - - */

.main .numeros {
    background: url("../img/Fondos/meeting-azul.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    padding: 8rem 0;
    height: 50rem;
    overflow: hidden;
    margin-top: 5rem;
}

.main .numeros .numero {
    color: #fff;
    font-size: 10rem;
    font-weight: 300;
    overflow: hidden;
    text-align: center;
    margin-top: 5rem;
}

.main .numeros .palabra {
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
    overflow: hidden;
    text-align: center;
}

/* - - - - C O N T A C T O - - - - */

.main .contacto h5 {
    font-size: 2.5rem;
    text-align: center;
    overflow: hidden;
    font-weight: 300;
}

.main .contacto .titulo-ciudad{
    font-weight: 600;
    margin-bottom: 2rem;
}

.main .contacto .direccion {
    margin-bottom: 3rem;
    line-height: 3rem;
}

.main .contacto .correo{
    margin: 3rem 0;
}

.main .contacto .telefono {
    margin-bottom: 3rem;
}

/* - - - -  F O R M U L A R I O - - - - */

.main .contacto .formulario {
    margin-bottom: 7rem;
}

.main .contacto .formulario input{
    height: 5rem;
}

::placeholder{
    font-size: 1.8rem;
}

.contacto textarea {
    margin-top: 2rem;
    height: 10rem;
    max-height: 10rem;
}

.contacto button{
    font-size: 2rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
}

.contacto button:hover{
    background: var(--azul-electrico);
}


/* - - - - M A P A - - - - */

.mapas{
    width: 100%;
    overflow: hidden;
}

.mapa .mapas{
    margin: 0;
    padding: 0;
}

.mapas iframe {
    width: 100%;
    max-height: 600px;
    vertical-align:bottom;
}

/* - - - - R E D E S   S O C I A L E S - - - - */

footer .redes-sociales {
    background: #bdbdbd;
    height: 10rem;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
}

footer .redes-sociales .r-sociales {
    overflow: hidden;
}

footer .redes-sociales a {
    color: #fff;
    font-size: 5rem;
    padding: 2rem 3rem;
    align-items: center;
}

footer .redes-sociales .facebook:hover{
    background: var(--facebook);
}

footer .redes-sociales .instagram:hover{
    background: var(--instagram);
}

footer .redes-sociales .twitter:hover{
    background: var(--twitter);
}

/* - - - - C R E D I T O S - - - - */

footer .creditos {
    background-color: var(--gris-texto);
    text-align: center;
}

footer .creditos a {
    text-decoration: none;
    color: #fff;
}

footer .creditos a:hover{
    text-decoration: underline;
}

