* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    --gris: #7E7D7D;
    --gris-texto: #4E4D53;
    --azul-electrico: #1900FF;
    --facebook: #3b5998;
    --twitter: #1da1f2;
    --instagram: #c13584;

}

body {
    font-family: "Open Sans", Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

html {
    font-size: 62.5%;
}


/* - - - M E N U - L O G O - - - - */

header .menu-logo img{
    width: 20rem;
}

header .menu-logo {
    margin: 2rem;
}

header .redes-sociales-header{
    text-align: right;    
    margin-top: 1rem;
    overflow: hidden;
}

header .redes-sociales-header a {
    font-size: 3rem;
    color: var(--gris) ;
    padding: 1.5rem;
}

header .redes-sociales-header .facebook:hover{
    color: var(--facebook);
}

header .redes-sociales-header .twitter:hover{
    color: var(--twitter);
}

header .redes-sociales-header .instagram:hover{
    color: var(--instagram)
}

/* - - - M E N U    P R I N C I P A L - - - */

header .menu {
    background: #1900FF;
    text-align: center;
}

header .menu a {
    color: #fff;
    text-decoration: none;
    margin: 0.5rem;
    font-weight: 600;
}

header .menu a:hover {
    text-decoration: underline;
}

/* - - - - C A R R U S E L - - - - */

.carrusel .imagen-carrusel {
    width: 100%;
    height: 90rem;
}

/* - - - - A R E A S  D E  N E G O C I O - - - - */

.main .titulo {
    font-weight: 300;
    font-size: 5rem;
    margin: 7rem 0rem;
    padding: 2rem 0rem;
    text-align: center;
    overflow: hidden;
    color: var(--gris-texto);
}

.main .areas-de-negocio .primera-fila,
.main .areas-de-negocio .segunda-fila{
    text-align: center;
    width: 20rem;
    height: 20rem;
}

.main .areas-de-negocio .primera-fila .img-iconos,
.main .areas-de-negocio .segunda-fila .img-iconos {
    width: 12rem;
}

.main .areas-de-negocio p{
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 300;
}

.main .areas-de-negocio p:hover{
    text-decoration: underline solid var(--gris-texto);
}

/* - - - - N U M E R O S - - - - */

.main .numeros {
    background: url("../img/Fondos/meeting-azul.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    padding: 8rem 0;
    height: 50rem;
    overflow: hidden;
    margin-top: 5rem;
}

.main .numeros .numero {
    color: #fff;
    font-size: 10rem;
    font-weight: 300;
    overflow: hidden;
    text-align: center;
    margin-top: 5rem;
}

.main .numeros .palabra {
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
    overflow: hidden;
    text-align: center;
}

/* - - - - C O N T A C T O - - - - */

.main .contacto h5 {
    font-size: 2.5rem;
    text-align: center;
    overflow: hidden;
    font-weight: 300;
}

.main .contacto .segundo-bloque {
    display: flex;
    align-items: center;
}

.main .contacto .direccion {
    margin-bottom: 3rem;
    line-height: 3rem;
}

.main .contacto .correo{
    vertical-align: middle;
}

.main .contacto .horarios {
    margin-bottom: 7rem;
}

/* - - - -  F O R M U L A R I O - - - - */

.main .contacto .formulario {
    margin-bottom: 7rem;
}

.main .contacto .formulario input{
    height: 5rem;
}

::placeholder{
    font-size: 2rem;
}

.contacto textarea {
    margin-top: 2rem;
    height: 10rem;
    max-height: 10rem;
}

.contacto button{
    font-size: 2rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
}

.contacto button:hover{
    background: var(--azul-electrico);
}

/* - - - - M A P A - - - - */

.mapa{
    width: 100%;
    overflow: hidden;
}

.mapa iframe {
    width: 100%;
    max-height: 600px;
    vertical-align:bottom;
}